@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-utama: "Fredoka", sans-serif;
}

html {
  scroll-behavior: smooth;
}
